{% extends "layout.html" %}
{% block content %}
<title>Bibtex generaattori</title>
<h1>Bibtex generaattori</h1>

<h2>Tallennetut viitteet</h2>
<hr>
<table class="table align-middle table-striped">
    <thead>
      <tr>
        <th scope="col">Author</th>
        <th scope="col">Title</th>
        <th scope="col">Year</th>
        <th scope="col"></th> <!-- Empty column header for remove button -->
      </tr>
    </thead>
    <tbody>
    {% for citation in citations %}
    <tr>
        <td>{{ citation.author }}</td>
        <td>{{ citation.title }}</td>
        <td>{{ citation.year }}</td>
        <td>
            <form action="/" method="POST">
                <!-- If more post request actions are added, add a form field here that tells that this button is for the remove action -->
                <input type="hidden" name="id" value="{{ citation.id }}">
                <button type="submit" class="btn btn-primary">Remove</button>
            </form>
        </td>
    </tr>
    {% endfor %}
    </tbody>
</table>
<hr>

<form action="/download" method="POST">
  <button type="submit" name="download" class="btn btn-outline-primary">Lataa viitteet</button>
</form>


{% endblock %}
