{% extends "layout.html" %}
{% block content %}
<title>Bibtex generaattori</title>
<h1>Bibtex generaattori</h1>
<h3>Tervetuloa bibtex generaattoriin.</h3>
<a href="/edit">Tallenna uusi referenssi</a>

<h1>Tallennetut viitteet</h1>
<hr>
<table class="table align-middle table-striped">
    <thead>
      <tr>
        <th scope="col">Author</th>
        <th scope="col">Title</th>
        <th scope="col">Year</th>
      </tr>
    </thead>
    <tbody>
    {% for citation in citations %}
      <tr>
        <td>{{ citation.author }}</td>
        <td>{{ citation.title }}</td>
        <td>{{ citation.year }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
<hr>

{% endblock %}
